

body {
    
    background-color: rgb(255, 211, 13);
}


header {
    display: flex;
    justify-content: center;
}

.header img {
    width: 1000px;
}

.header h1 {
    background-color: #5ea9f0d7;
    color: white;
    text-align: center;
    }

main {
    background-color: #ffffff;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    width: 1000px;
}

.rubriques {
    margin: 20px 10px;
    background-color: #5ea9f0d7;
    height: 120px;
    padding: 10px;
    width: 300px;

}

.rubriques a {
    color: white;
}

.partieCentrale h2{
    color: rgb(223, 189, 38);
}

.partieCentrale p {
        /* text-justify: auto; */
}

.bioMatt {
    margin: 20px 10px;
    background-color: #5ea9f0d7;
}

.bioMatt h2 {
    color: white;
}

.bioMatt p {
    color: white;
}

.bioMatt img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 5px 10px;
    padding: 5px 10px;
}

footer {
    background-color: #0d44e8;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.pied-de-page p{
    background-color: #0d44e8;
    color: white;
    text-align: center;
}


   