* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}


body {
    background-color: rgb(255, 211, 13);
}

section{
    width: 80%;
    justify-content: center;
}

header {
    width: 50%;
    margin: auto;
} 

.header img {
    width: 100%;
}


.header figcaption {
    background-color: #5ea9f0d7;
    color: white;
    text-align: center;
    margin: auto;
}

main {
    background-color: #ffffff;
    display: flex;
    margin: auto;
    gap: 10px;
    width: 50%;
    padding: 10px;
}

.rubriques {
    background-color: #5ea9f0d7;
    height: 200px;
    padding: 10px;
    width: 20%;
}

.rubriques li {
    padding: 5px;
    list-style-type: none;
}
.rubriques a {
    
    color: white;
}

.partiCentrale {
    width: 50%;
    padding: 10px;
}

.partieCentrale h2{
    padding-top: 10px;
    color: rgb(223, 189, 38);
}

.partieCentrale p {
       text-align: justify;
       margin: 10px 0;
}

.bioMatt {
    width: 30%;
    background-color: #5ea9f0d7;
}

.bioMatt figcaption {
    color: white;
    font-weight: 700;
}

.bioMatt p {
    color: white;
    text-align: justify;
    padding: 5px;
}

.bioMatt img {
    max-width: 100%;
    padding: 10px;
}

.bioMatt figcaption {
    color: white;
    text-align: center;
}

footer {
    background-color: #0d44e8;
    width: 50%;
    margin: auto;
    color: white;
    text-align: center;

}




   